.DS_Store
.vscode
*.pem
*.zip
code_v2025-02-23
AWS-Certified-Developer-Slides-v40.pdf
private-*
secret-*
events*.json
from-*.*
aws-dva-code-main
Developer-Associate-Slides.pdf
Exam-Cram-DVA-C02.pdf
env.sh
.env
output*
node_modules
dev-assoc-prac-test-2021.pdf
log*
